.App {
  max-width: 860px;
  margin: 40px auto;
}

button {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 20px;
  color: #fff;
  font-family: VT323, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
}

button:hover {
  cursor: pointer;
  background-color: #1b242e83;
}

.game {
  display: flex;
  justify-content: space-around;
  padding: 80px 0;
}

.players-number span {
  font-size: 1.5em;
}

.players-number input {
  display: block;
  background: none;
  border: 3px solid #fff;
  margin: 20px auto;
  font-size: 1em;
  font-family: VT323, sans-serif;
  color: #fff;
  text-align: center;
  width: 200px;
  height: 50px;
}

.random-number {
  font-size: 2em;
  border: 3px solid #fff;
  width: 200px;
  height: 200px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  line-height: 200px;
}

.random-number:hover {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 0;
}
